@import "./function.scss";
/* TODO Extract Style */
/** START */

// 霓虹
.neon-blue {
  background: transparent;
  border: 1px solid #01d8f4;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 10px 4px rgba(1, 216, 244, 0.7);
  &:hover {
    background: #01d8f4;
  }
}

.neon-yellow {
  background: transparent;
  border: 1px solid #f9d849;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 10px 4px rgba(249, 216, 73, 0.7);
  &:hover {
    background: #f9d849;
  }
}

.neon-pink {
  background: transparent;
  border: 1px solid #fe5d81;
  color: #fff;
  box-shadow: 0px 0px 10px 4px rgba(254, 93, 129, 0.7);
  &:hover {
    background: #fe5d81;
  }
}

.dark {
  background-color: rgba(3, 7, 30, .7);
  color: #fff;
}

.blue {
  background: linear-gradient(91.97deg, #0051ff -10.07%, #00fff0 126.39%);
  color: #fff;

  &:hover {
    background-position: 0 100%;
  }
}

.yellow {
  background: linear-gradient(93.1deg, #ffcb02 0%, #ffa902 84.41%);
  color: #fff;

  &:hover {
    background-position: 0 100%;
  }
}

.green {
  background: linear-gradient(93.1deg, #439da0 0%, #82d6c4 84.41%);
  color: #fff;

  &:hover {
    background-position: 0 100%;
  }
}

.red {
  background: linear-gradient(91.97deg, #ed664a -10.07%, #ea4965 126.39%);
  color: #fff;
}

.pink {
  background: linear-gradient(91.97deg, pink -10.07%, #ea4965 126.39%);
  color: #fff;
}

.ghost-white {
  background: transparent;
  box-shadow: 0 0 0 1px #ffffff;
  color: #fff;

  &.active,
  &:hover {
    background-color: #fff;
    color: #1a192e;
  }
}

.ghost-red {
  background: transparent;
  box-shadow: 0 0 0 1px #ffffff;
  color: #fff;

  &.active,
  &:hover {
    box-shadow: 0 0 0 0px #ff0000;
    background: linear-gradient(91.97deg, #ff0000 -10.07%, #fd666f 126.39%);
    color: #fff;
  }
}

.ghost-pink {
  background: transparent;
  box-shadow: 0 0 0 1px pink;
  color: #fff;

  &.active,
  &:hover {
    box-shadow: 0 0 0 0px pink;
    background: pink;
    color: #fff;
  }
}

.ghost-dark {
  background: transparent;
  box-shadow: 0 0 0 1px #1a192e;
  color: #1a192e;

  &.active,
  &:hover {
    box-shadow: 0 0 0 0px #1a192e;
    background: #1a192e;
    color: #fff;
  }
}

.round-min {
  border-radius: 8px;
  padding: 0 30px;
}

.round-big {
  border-radius: 50px / 50px;
  padding: 0 20px;
}

.middle {
  font-size: 16px;
  height: 30px;
  letter-spacing: 1.2px;
}

.big {
  font-size: 18px;
  height: 36px;
  letter-spacing: 1.2px;
}

.mini {
  font-size: 14px;
  height: 20px;
  letter-spacing: 1px;
}

.btn {
  position: relative;
  margin: 0 8px;
  cursor: pointer;
  transition: all 0.3s;
}

// 暗色遮罩
.mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  background-color: #000;
  transition: opacity 0.5s;
  &.show {
    z-index: 10;
    // 深
    .deep {
      opacity: 0.7;
    }
    // 淺
    .pale {
      opacity: 0.4;
    }
  }
}
// 深
.deep {
  opacity: 0.7;
}
// 淺
.pale {
  opacity: 0.4;
}

.darken-bg {
  width: 100vw;
  height: 101%;
  position: absolute;
  top: -1px;
  left: 0;
  background-color: #000;
}

.purple-bg {
  background-color: rgba(3, 7, 30, 0.7);
}

.white-bg {
  background-color: #fff;
}

.frost {
  backdrop-filter: blur(10px);
}

.frost-pale {
  backdrop-filter: blur(5px);
}

.thumb {
  width: 100vw;
  height: size(600);
  position: relative;

  .bg-img {
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    object-fit: cover;
  }
}

.dark {
  .content-head {
    .head-title {
      color: #fff;
    }

    .head-tab {
      color: #fff;
    }
    .head-btn {
      color: #fff;
      &:hover {
        color: #ccc;
      }
    }
  }
  .dialog-head {
    .head-title {
      color: #fff;
    }

    .head-tab {
      color: #ccc;

      &.active {
        color: #fff;
      }
    }
  }
}
.content-head {
  width: 100%;
  margin: 0 auto 70px;
  .head-title {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0.1em;
    color: #000000;
    margin-right: 57px;
  }

  .head-tab {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.1em;
    margin-right: 30px;
    color: #333333;
    position: relative;
    cursor: pointer;
    &.active {
      .bottom-line {
        width: 100%;
        max-width: 38px;
        box-shadow: 0 0px 0 2px #f9d849;
        position: absolute;
        bottom: -6px;
        left: 0;
      }
    }
  }

  .head-btn {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.1em;
    margin-right: 0px;
    color: #333333;
    position: relative;
    cursor: pointer;

    &:hover {
      color: #666;
    }
  }

  .head-chevron {
    width: 20px;
  }
}

.dialog-head {
  width: 100%;
  margin: 0 auto;
  .head-title {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.1em;
    color: #000000;
  }

  .head-tab {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.1em;
    margin-right: 30px;
    color: #333333;
    position: relative;
    cursor: pointer;
    &.active {
      .bottom-line {
        width: 100%;
        max-width: 38px;
        box-shadow: 0 0px 0 2px #f9d849;
        position: absolute;
        bottom: -6px;
        left: 0;
      }
    }
  }

  .head-mao {
    margin: 0 auto;
  }
}
/* END */
