.el-rate__icon {
  font-size: 13px !important;
  margin-right: 0 !important;
}

.el-rate__text {
  margin-left: 5px !important;
}

.el-select {
  margin-right: 15px;
}


.el-collapse-item__header {
  font-size: 18px !important;
  line-height: 2 !important;
  height: auto !important;
  padding: 10px 0 !important;
}

.chapter-subtitle {
  font-size: 14px !important;
  margin-bottom: 5px;
  margin-left: 10px;
}

.el-loading-mask {
  background: transparent !important;
}