.container {
  width: 1280px;
  margin: 0 auto;
  // padding: 80px 0px;
}

.layout-pick-mask {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.65;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 27;
}

/* 螢幕尺寸標準 */
/* 小電腦尺寸 */
@media only screen and (min-device-width: 1025px) and (max-device-width: 1280px) {
  .container {
    padding: 30px;
  }
}

/* 螢幕尺寸標準 */
/* 平板尺寸 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .container {
    width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
}

/* 螢幕尺寸標準 */
/* 手機尺寸 */
@media screen and (max-width: 767px) {
  // .container {
  //   width: 100vw;
  //   margin: 0 auto;
  //   padding: 60px 20px;
  // }
}
